<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio sesión</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/formularioLoguin.css}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>

        <div class="login-wrapper">
            <div class="login-header">
                <h2>Bienvenido al portal Billgym 😎</h2>
                <h3>Por favor ingresa las credenciales</h3>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="input-field">
                    <input type="text" id="username" name="username" placeholder=" " required>
                    <label for="username">Usuario</label>
                </div>

                <div class="input-field">
                    <input type="password" id="password" name="password" placeholder=" " required>
                    <label for="password">Contraseña</label>
                </div>

                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>

        </div>

        <script src="/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
