<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear Cliente</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/crearCliente.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="d-flex flex-column min-vh-100">
	<div th:insert="~{home :: navbar}"></div>

	<main class="flex-grow-1 container mt-5"
		style="display: flex; flex-direction: column;">
		<div class="container mt-5 d-flex justify-content-center mb-5">
			<div class="form-container col-md-8">
				<h1 class="text-primary text-center mb-4">Nuevo Cliente 😎</h1>
				<div th:if="${errorDni}" class="alert alert-danger" role="alert">
					<span th:text="${errorDni}"></span>
				</div>
				<form th:action="@{/clientes/guardar}" th:object="${cliente}"
					method="post">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombres</label> <input
							type="text" id="nombre" th:field="*{nombre}" class="form-control"
							placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="apellidos" class="form-label">Apellidos</label> <input
							type="text" id="apellido" th:field="*{apellidos}"
							class="form-control" placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="dni" class="form-label">DNI</label> <input type="text"
							id="dni" th:field="*{dni}" class="form-control" placeholder=""
							required>
					</div>
					<div class="mb-3">
						<label for="dni" class="form-label">Edad</label> <input
							type="number" id="edad" th:field="*{edad}" class="form-control"
							placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="telefono" class="form-label">Teléfono</label> <input
							type="text" id="telefono" th:field="*{telefono}"
							class="form-control" placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="correo" class="form-label">Correo</label> <input
							type="email" id="correo" th:field="*{correo}"
							class="form-control" placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="tiempoSuscripcion" class="form-label">Tiempo
							Suscripción</label> <input type="text" id="tiempoSuscripcion"
							th:field="*{tiempoSuscripcion}" class="form-control"
							placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="direccion" class="form-label">Dirección</label> <input
							type="text" id="direccion" th:field="*{direccion}"
							class="form-control" placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="id_sede" class="form-label">Sede</label> <input
							type="text" id="id_sede" th:field="*{id_sede}"
							class="form-control" placeholder="" required>
					</div>
					<div class="mb-3">
						<label for="dni" class="form-label">Fecha</label> <input
							type="date" id="fecha" th:field="*{id_sede}" class="form-control"
							placeholder="" required>
					</div>





					<div class="d-grid">
						<button type="submit" class="btn btn-primary">Guardar
							Cliente</button>
					</div>
				</form>
			</div>
		</div>



	</main>
	<div th:insert="~{home :: footer}"></div>

	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
